<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/lists"><img class="avatar" alt="avatar-large" src="https://res.cloudinary.com/dutbzgehz/image/upload/v1717811544/trx5lrt6ozuhi7brmfda.webp"/></a>
    <form class="d-flex">
      <a href="/lists"><button class="btn btn-outline-light me-2" type="button">My Lists</button></a>
      <a href="<%= new_list_path(@list) %>"><button class="btn btn-outline-light" type="button">New List</button></a>
    </form>
  </div>
</nav>
